
    <div class="item-card" >
        <ngx-skeleton-loader count="4" appearance="circle" [theme]="{
            width: '231px',
            height: '85px',
            'border-radius': '10px'
          }"> </ngx-skeleton-loader>
    </div>
    <div class="item-one" >
        <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
            width: '131px',
            height: '35px',
            'margin-right': '42px',
            'border-radius': '10px'
          }"> </ngx-skeleton-loader>
    </div>
    <div class="container">

        <div class="card-columns">
            <div class="card">
                <div class="card-body">
                    <div class="first-header" style="color:#14649C;font-weight: 500;">Daily Dose</div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="item">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle" [theme]="{
                                width: '235px',
                                'border-radius': '0',
                                height: '246px',
                                'margin-bottom': '10px'
                              }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="col-md-6 p-lg-5">
                            <ng-container *ngFor="let item of [1,2,3]">
                                <div class="fb-item">
                                    <div class="first-section-wrapper">
                                        <div class="gravatar">
                                            <ngx-skeleton-loader appearance="circle"
                                                [theme]="{ width: '30px', height: '30px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="gravatar-title">
                                            <div>
                                                <ngx-skeleton-loader [theme]="{
                                            width: '100px',
                                            'border-radius': '0',
                                            height: '15px',
                                            'margin-bottom': '10px'
                                            }"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-body">
                    <div class="first-header" style="color:#14649C;font-weight: 500;">Patient</div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6  ">
                            <div class="item">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle" [theme]="{
                                width: '235px',
                                'border-radius': '0',
                                height: '246px',
                                'margin-bottom': '10px'
                              }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="col-md-6 p-lg-5">
                            <ng-container *ngFor="let item of [1,2,3]">
                                <div class="fb-item">
                                    <div class="first-section-wrapper">
                                        <div class="gravatar">
                                            <ngx-skeleton-loader appearance="circle"
                                                [theme]="{ width: '30px', height: '30px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="gravatar-title">
                                            <div>
                                                <ngx-skeleton-loader [theme]="{
                                            width: '100px',
                                            'border-radius': '0',
                                            height: '15px',
                                            'margin-bottom': '10px'
                                            }"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <div class="first-header" style="color:#14649C;font-weight: 500;">Appointment</div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="item">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle" [theme]="{
                                width: '235px',
                                'border-radius': '0',
                                height: '246px',
                                'margin-bottom': '10px'
                              }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="col-md-6 p-lg-5">
                            <ng-container *ngFor="let item of [1,2,3]">
                                <div class="fb-item">
                                    <div class="first-section-wrapper">
                                        <div class="gravatar">
                                            <ngx-skeleton-loader appearance="circle"
                                                [theme]="{ width: '30px', height: '30px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="gravatar-title">
                                            <div>
                                                <ngx-skeleton-loader [theme]="{
                                            width: '100px',
                                            'border-radius': '0',
                                            height: '15px',
                                            'margin-bottom': '10px'
                                            }"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="first-header" style="color:#14649C;font-weight: 500;">Registered User</div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="item">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle" [theme]="{
                                width: '235px',
                                'border-radius': '0',
                                height: '246px',
                                'margin-bottom': '10px'
                              }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="col-md-6 p-lg-5">
                            <ng-container *ngFor="let item of [1,2,3]">
                                <div class="fb-item">
                                    <div class="first-section-wrapper">
                                        <div class="gravatar">
                                            <ngx-skeleton-loader appearance="circle"
                                                [theme]="{ width: '30px', height: '30px' }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="gravatar-title">
                                            <div>
                                                <ngx-skeleton-loader [theme]="{
                                            width: '100px',
                                            'border-radius': '0',
                                            height: '15px',
                                            'margin-bottom': '10px'
                                            }"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
