<div class="first-row-modal-password">
  <div class="close-icon" (click)="cancel()">
    <img
      src="../../../../assets/images/close-icon.svg"
      alt="close"
      title="close"
    />
  </div>
  <div class="change-password-heading">Change Password</div>
</div>

<div class="content-area-main">
  <form [formGroup]="changePasswordForm" class="f-login-main">
    <!-- <div class="comman-filed-for-change-password">
        <input type="text" placeholder="Old Password*" />
        <button class="btn-eyes">
            <img src="../../../../assets/images/eye-icon.svg" alt="eye" title="eye" />
        </button>
    </div> -->
       <div class="comman-filed-for-change-password">
              <input [type]="oldPassword ? 'password' : 'text'" placeholder="Old Password*"
                formControlName="oldPassword" maxlength="12" minlength="6" [ngClass]="{
                            'is-invalid': f.oldPassword.errors && (f.oldPassword.touched || submitted)
                          }" />
              <button class="btn-eyes">
                <img (click)="oldPassword = !oldPassword" src="../../../../assets/images/eye-icon.svg" alt="eye"
                  title="eye" />
              </button>

              <div *ngIf="(submitted && f.oldPassword.errors) || f.oldPassword.touched" class="class-validation">
                <small class="invalid" *ngIf="f.oldPassword.errors?.required">
                  Old Password is required
                </small>
                <!-- <div class="invalid" *ngIf="f.password.errors?.minlength">
                            Password must be at least 6 characters
                          </div> -->
              </div>
            </div>
    <div class="comman-filed-for-change-password">
      <input
        [type]="showPassword ? 'password' : 'text'"
        placeholder="New Password*"
        formControlName="newPassword"
        maxlength="12"
        minlength="6"
        [ngClass]="{
          'is-invalid': f.newPassword.errors && (f.newPassword.touched || submitted)
        }"
      />
      <button class="btn-eyes">
        <img
          (click)="showPassword = !showPassword"
          src="../../../../assets/images/eye-icon.svg"
          alt="eye"
          title="eye"
        />
      </button>

      <div
        *ngIf="(submitted && f.newPassword.errors) || f.newPassword.touched"
        class="class-validation"
      >
        <small class="invalid" *ngIf="f.newPassword.errors?.required">
          Password is required
        </small>
        <small class="invalid" *ngIf="f.newPassword.errors?.minlength">
          Password must be at least 6 characters
        </small>
      </div>
    </div>

    <div class="comman-filed-for-change-password">
      <input
        [type]="showConfirmPassword ? 'password' : 'text'"
        placeholder="Confirm Password*"
        formControlName="confirmPassword"
        maxlength="12"
        [ngClass]="{
          'is-invalid':
            f.confirmPassword.errors && (f.confirmPassword.touched || submitted)
        }"
      />
      <button class="btn-eyes">
        <img
          (click)="showConfirmPassword = !showConfirmPassword"
          src="../../../../assets/images/eye-icon.svg"
          alt="eye"
          title="eye"
        />
      </button>

      <div
        *ngIf="
          (submitted && f.confirmPassword.errors) || f.confirmPassword.touched
        "
        class="class-validation"
      >
        <small class="invalid" *ngIf="f.confirmPassword.errors?.required">
          Confirm Password is required
        </small>
        <small class="invalid" *ngIf="f.confirmPassword.errors?.mustMatch">
          Passwords must match
        </small>
      </div>
    </div>

    <div class="btn-row-main">
      <button class="cancel-btn" type="reset" (click)="cancel()">Cancel</button>
      <button
        class="submit-btn"
        type="submit"
        (click)="onSubmit()"
        [disabled]="isLoading" [ngClass]="{'disabled-opacity':isLoading}"
      >
        <i class="fa mr-2" [ngClass]="{ 'fa-spin fa-spinner': isLoading }"></i>
        Submit
      </button>
    </div>
  </form>
</div>
