<div class="select-heading-main">
    <div class="close-btn" (click)="cancel()">
        <img src="../../../../assets/images/close-icon.svg" alt="clsoe" title="close">
    </div>
    
    <div class="heading-title">Edit Configuration</div>

</div>
<form #f="ngForm">
    <div class="main-content-modal-wrapper">

        <div class="main-grid-area">
            <div (click)="daySelected(dayOfWeek.Sunday)" [ngClass]="{'active': dayOfWeek.Sunday == selectedDay }" class="inner-grid-system" >S</div>
            <div (click)="daySelected(dayOfWeek.Monday)" [ngClass]="{'active': dayOfWeek.Monday == selectedDay }" class="inner-grid-system">M</div>
            <div (click)="daySelected(dayOfWeek.Tuesday)" [ngClass]="{'active': dayOfWeek.Tuesday == selectedDay }" class="inner-grid-system">T</div>
            <div (click)="daySelected(dayOfWeek.Wednesday)" [ngClass]="{'active': dayOfWeek.Wednesday == selectedDay }" class="inner-grid-system">W</div>
            <div (click)="daySelected(dayOfWeek.Thursday)" [ngClass]="{'active': dayOfWeek.Thursday == selectedDay }" class="inner-grid-system">T</div>
            <div (click)="daySelected(dayOfWeek.Friday)" [ngClass]="{'active': dayOfWeek.Friday == selectedDay }" class="inner-grid-system">F</div>
            <div (click)="daySelected(dayOfWeek.Saturday)" [ngClass]="{'active': dayOfWeek.Saturday == selectedDay }" class="inner-grid-system">S</div>
        </div>

        <div class="input-grop-main">
        
            <div class="comman-col select-options">
                <label class="open-close">Open Time</label>
                <select (change)="fromTimeChanged()" name="fromTime" [(ngModel)]="timings[dayOfWeek[selectedDay]].open" placeholder="From Time" required #open="ngModel">
                <ng-container *ngFor="let time of times">
                    <option [value]="time">{{time}}</option>
                </ng-container>
                
                <div *ngIf="open.invalid"> 
                    Profile required. 
                </div> 
                </select>
            </div>

            <div class="comman-col select-options">
                <label class="open-close">Close Time</label>
                <select 
            [required]="open.value" 
            name="toTime"
            [(ngModel)]="timings[dayOfWeek[selectedDay]].close" placeholder="To Time">
                <ng-container *ngFor="let time of times">
                    <ng-container *ngIf="time > timings[dayOfWeek[selectedDay]].open ">
                        <option [value]="time">{{time}}</option>
                    </ng-container>
                </ng-container>
                </select>
            </div>

            <div class="comman-col">
                <label class="max-dose-day">Max dose</label>
                <input name="maxDose"  minlength="3" (keypress)="restrictNumeric($event)" OnlyNumeric  type="number"
                [(ngModel)]="timings[dayOfWeek[selectedDay]].maxDose"  >
            </div>
        </div>
        <div>
            Each slot is of <b> 30 minutes </b> duration & has max <b> {{this.userProfile.dosePerSlot}} dose/slot.</b> 
            <br>
             Max dose/day should be greater than Total <b>  {{slotCount}} * {{this.userProfile.dosePerSlot}} = {{slotCount * this.userProfile.dosePerSlot}} </b>
        </div>
        <!-- <div class="open-times-and-close-time">
                <div class="close-left-time">
                        <div class="left-labal-main">Open Time</div>
                        <div class="right-col-inputs-combo-main">
                            <div class="comman-col">
                                <div class="up-arrow-main">
                                    <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                                </div>
                                <div class="input-area-hours">
                                    <input type="text" placeholder="09">
                                </div>
                                <div class="down-arrow-main">
                                    <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                                </div>
                            </div>
                            <div class="comman-col">
                                <div class="up-arrow-main">
                                    <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                                </div>
                                <div class="input-area-hours">
                                    <input type="text" placeholder="00">
                                </div>
                                <div class="down-arrow-main">
                                    <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                                </div>
                            </div>
                            <div class="comman-col">
                                <div class="up-arrow-main">
                                    <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                                </div>
                                <div class="input-area-hours">
                                    <input type="text" placeholder="AM">
                                </div>
                                <div class="down-arrow-main">
                                    <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                                </div>
                            </div>
                            
                        </div>

                </div>
                <div class="close-right-time">
                    <div class="left-labal-main">Close Time</div>
                    <div class="right-col-inputs-combo-main">
                        <div class="comman-col">
                            <div class="up-arrow-main">
                                <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                            </div>
                            <div class="input-area-hours">
                                <input type="text" placeholder="05">
                            </div>
                            <div class="down-arrow-main">
                                <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                            </div>
                        </div>
                        <div class="comman-col">
                            <div class="up-arrow-main">
                                <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                            </div>
                            <div class="input-area-hours">
                                <input type="text" placeholder="00">
                            </div>
                            <div class="down-arrow-main">
                                <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                            </div>
                        </div>
                        <div class="comman-col">
                            <div class="up-arrow-main">
                                <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                            </div>
                            <div class="input-area-hours">
                                <input type="text" placeholder="PM">
                            </div>
                            <div class="down-arrow-main">
                                <img src="../../../../assets/images/up-arrow.svg" alt="icon" title="icon">
                            </div>
                        </div>
                        
                    </div>

                </div>


        </div> -->

    <!-- 
        <div class="second-row-main"> -->
            <!-- <div class="left-col">  
                <mat-checkbox name="isClosed" class="example-margin" [(ngModel)]="userProfile.isClosed">Closed</mat-checkbox>
            </div> -->
            <!-- <div class="right-col">
                <label class="max-dose-day">Max dose</label>
                <input name="maxDose" (keypress)="restrictNumeric($event)" OnlyNumeric  type="number"
                [(ngModel)]="timings[dayOfWeek[selectedDay]].maxDose"  >
            </div> -->

        <!-- </div> -->


        <!-- <div class="main-button-below">
            
            <label class="vaccine">No of vaccinators</label>
            <input (keypress)="restrictNumeric($event)" OnlyNumeric [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="timings[dayOfWeek[selectedDay]].noOfVaccinator" type="text" class="vaccine" readonly>
            
            <label class="max">Max dose/Slot</label>
            <input OnlyNumeric (keypress)="restrictNumeric($event)" [ngModelOptions]="{standalone: true}" 
            [(ngModel)]="timings[dayOfWeek[selectedDay]].dosePerSlot" type="text" class="slot">
        </div> -->
        <div class="box-btn-row">
            <button class="canel-btn btn-comman" (click)="cancel()">Cancel</button>
            <button class="save-btn btn-comman" 
                [disabled]="isLoading || !canSave"
                (click)="save()">
                <i class="fa"  [ngClass]="{ 'fa-spin fa-spinner': isLoading}" ></i>
                Save
            </button>
        </div>
    </div>
    
</form>